body{
font-family: 'open Sans', sans-serif;
background-color: lightblue;
width: 100%;
display: flex;
flex-wrap: wrap;
}

header {
font-family: sans-serif;
margin:0px;
height: 3em;
background-color: darkgrey;
}

li {
float: left;
}

li a, .dropbutton {
color: black;
margin: 0 40px 0;
display: block;
}

li a:hover, .drop-menu:hover .dropbutton {
background-color: violet;
color: black;
}
.drop-content {
  display: none;
  position: absolute;
  border: 1px solid;
  margin: 0;
  background-color: violet;
  z-index: 1;
}

.drop-menu:hover .drop-content {
  display: block;
}

.paragraph {
display: none;
border: 2px solid;
margin: 0;
background-color: violet;
}

.paragraph {
color: black;
padding: 12px 16px;
display: block;
text-align: center;
}


.content {
text-align: center;
text-color: black;

}
div.content {
  margin: auto;
  padding: 10px 10%;
  float: left;
}
.first, .second, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.first {
    min-height: 400px;
}

.first-image, .second-image, .third-image, .forth-image {
  position: relative;
  opacity: 0.65;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.first-image {
  background-image: url("imgs/snow.JPG");
  min-height: 700px;
}

.second-image {
  background-image: url("imgs/rock.jpg");
  min-height: 700px;
}

.third-image {
  background-image: url("imgs/maracus.jpg");
  min-height: 700px;
}

.forth-image {
  background-image: url("imgs/bruny.jpg");
  min-height: 700px;
}


a{
color: #maroon;
}

.menu-container {

}

.menu-item{


.menu-item: hover {
color: #black;
background-color: #grey;
}

.color-text {
  /* Draw a black border 4px thick. */


div.content {


.paragraph {

}

.two {

}

.three {

}
}
