body{
font-family: 'open Sans', sans-serif;
background-color: lightblue;
width: 100%;
}

a{
color: #maroon;
}

.menu-container {

}

.menu-item{


.menu-item: hover {
color: #black;
background-color: #grey;
}

.color-text {
  /* Draw a black border 4px thick. */


div.content {


.paragraph {

}

.two {

}

.three {

}
}
